.header {
  color: yellow;
  background-image: linear-gradient(to bottom right, red, black);
  text-align: center;
  margin-top: 0;
  height: 75px;
  padding-top: 15px;
  font-family: fantasy;
  
}

#anime-bar {
  background-color: black;
  width: 200px;
  border-radius: 25px;
}

#detailed-info {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
}

.btn {
  font-family: fantasy;
  display: block;
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: yellow;
  border-radius: 25px;
  box-shadow: 2px 2px 5px red;
}

#parent {
  display: flex;
}

.quote-info {
  padding-right: 100px;
  padding-left: 100px;
}

.quote-info img {
  height: 14rem;
  width: auto;
}

body {
  background-image: linear-gradient(to bottom right, red, yellow);
  margin: 0;
  padding: 0;
}

.likes {
  background-color: yellow;
  border-radius: 25px;
  box-shadow: 2px 2px 5px red;
  color: black;
  font-family: fantasy;
}


.form-container{
  background: #ffff;
  margin: 0 auto;
  text-align: center;
  width: 640px;

}

.form{
  margin: 20px 20px 0;
  padding: 0 0 20px;
  font-family: fantasy;
  border: 3px black;
}

input{
  display: block;
  margin-left: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.form-top{
  background-color: #444444;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: -8000;

}

.form-top a {
  display: block;
  height: 100%;
  min-height: 40px;
  overflow: hidden;
}

.form-description{
  border-bottom: 2px dotted black;
  clear: both;
  display: inline-block;
  margin: 0 0 1em
}

.form-description h2 {
  clear: left;
  text-align: center;
  font-size: 160%;
  font-weight: 400;
  margin: 0 0 3px;
}


