.header {
  color: yellow;
  background-image: linear-gradient(to bottom right, red, black);
  text-align: center;
  margin-top: 0;
  height: 75px;
  padding-top: 15px;
  font-family: fantasy;
  border: 2px ridge black;
}

#anime-bar {
  background-color: linear-gradient(to top left, black, red);
  width: 200px;
  margin: 10px;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px black;
}
.btn:hover {
  background-color: yellow;
}

#detailed-info {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.addNew {
  display: block;
  width: 100px;
  margin-left: 50px;
  margin: 50px;
  background-color: red;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px black;
  cursor: pointer;
}
.addNew:hover {
  background-color: #ff6701;
}

.btn {
  font-family: fantasy;
  display: block;
  width: 100px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: red;
  border-radius: 25px;
  box-shadow: 5px 5px 5px 5px black;
  transition: 0.8s;
  cursor: pointer;
}

.btn:hover {
  transform: translate(10px);
}

#parent {
  display: flex;
}

.quote-info {
  width: 658.8px;
  padding-right: 100px;
  padding-left: 200px;
}

.quote-info img {
  height: 14rem;
  width: auto;
  border: 3px solid black;
  border-radius: 4px;
}

body {
  background-image: linear-gradient(to bottom right, red, yellow);
  margin: 0;
  padding: 0;
}

.likesBtn {
  background-color: red;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
  color: black;
  font-family: fantasy;
  cursor: pointer;
}
.likesBtn:hover {
  background-color: #ff6701;
}

.form-container {
  background: #ffff;
  margin: 0 auto;
  text-align: center;
  width: 640px;
}

.form {
  margin: 20px 20px 0;
  padding: 0 0 20px;
  font-family: fantasy;
  border: 3px black;
}

input {
  display: block;
  margin-left: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.form-top {
  background-color: #444444;
  min-height: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-indent: -8000;
}

.form-top a {
  display: block;
  height: 100%;
  min-height: 40px;
  overflow: hidden;
}

.form-description {
  border-bottom: 2px dotted black;
  clear: both;
  display: inline-block;
  margin: 0 0 1em;
}

.form-description h2 {
  clear: left;
  text-align: center;
  font-size: 160%;
  font-weight: 400;
  margin: 0 0 3px;
}
* {
  box-sizing: border-box;
}
.form-container {
  background-image: linear-gradient(to bottom right, yellow, red, black);
}
a {
  background-color: black;
}
.deleteBtn {
  background-color: red;
  border-radius: 25px;
  box-shadow: 2px 2px 5px black;
  color: black;
  font-family: fantasy;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: #ff6701;
}
